<!DOCTYPE html>
<html lang="en">

<%- include('layouts/adopt/head') %>

<body>
    <div class="container">
        <!-- NAVBAR START -->

        <%- include('layouts/adopt/adopthead', { title: 'Adopt a cat' }) %>

        <!-- NAVBAR END -->

        <!-- CONTENT START -->

        <div class="container-content">
            <div class="content-title">
                <h1>Thinking about adopting a cat or kitten? Find out more about adopting a <br>cat with Cats Protection in our guide.</h1>
            </div>
            <br>
            <div class="content-desc">
                <p>At Cats Protection we believe in matching the right cat to the right home. That's why we look at everything from your potential pet's personality to where you live – creating the perfect match for both cat and owner.</p><br>
                <p>While there can be a lot to think about when adopting a cat, Cats Protection aims to take away some of your worries, providing plenty of advice along the way.</p><br>
                <p>You can help by adopting or fostering at least one street cat. We need a safe home and a family with commitment who are trusted and responsible to care for the cats, especially, those with special needs, kittens, sick cats, and senior cats.</p><br>
            </div>
            <div class="content-title">
                <h1>Find a cat and Adopt your cat</h1>
                <br>
            </div>
            <hr>
            <div class="container-feature">
                <div class="container-filter">
                    <h2>Filter : &nbsp;</h2>
                    <div class="dropdown">
                        <a><button class="btn sort dropbtn" id="contactDropdown">Gender 🠧</button></a>
                        <div class="dropdown-content" id="contactDropdownContent">
                            <input type="checkbox" id="maleCheckbox">
                            <label for="maleCheckbox">Male</label>
                            <input type="checkbox" id="femaleCheckbox">
                            <label for="femaleCheckbox">Female</label>
                        </div>
                    </div>
                    <div class="dropdown">
                        <a><button class="btn sort dropbtn" id="contactDropdown-2">Breeds 🠧</button></a>
                        <div class="dropdown-content" id="contactDropdownContent-2">
                            <div class="dropdown-checkbox">
                                <input type="checkbox" id="anggoraCheckbox" value="anggora">
                                <label for="anggoraCheckbox">&nbsp; Anggora</label>
                            </div>
                            <div class="dropdown-checkbox">
                                <input type="checkbox" id="himalayaCheckbox" value="himalaya">
                                <label for="himalayaCheckbox">&nbsp; Himalaya</label>
                            </div>
                            <div class="dropdown-checkbox">
                                <input type="checkbox" id="kampungCheckbox" value="kampung">
                                <label for="kampungCheckbox">&nbsp; Kampung</label>
                            </div>
                            <div class="dropdown-checkbox">
                                <input type="checkbox" id="mainecoonCheckbox" value="maine Coon">
                                <label for="mainecoonCheckbox">&nbsp; Maine Coon</label>
                            </div>
                            <div class="dropdown-checkbox">
                                <input type="checkbox" id="munchkinCheckbox" value="munchkin">
                                <label for="munchkin">&nbsp; Munchkin</label>
                            </div>
                            <div class="dropdown-checkbox">
                                <input type="checkbox" id="persiaCheckbox" value="persia">
                                <label for="persiaCheckbox">&nbsp; Persia</label>
                            </div>
                            <div class="dropdown-checkbox">
                                <input type="checkbox" id="ragdollCheckbox" value="ragdoll">
                                <label for="ragdoll">&nbsp; Ragdoll</label>
                            </div>
                            <div class="dropdown-checkbox">
                                <input type="checkbox" id="siammCheckbox" value="siamm">
                                <label for="siammCheckbox">&nbsp; Siamm</label>
                            </div>
                        </div>
                    </div>
                    <div class="dropdown">
                        <a><button class="btn sort dropbtn" id="contactDropdown-3">Age 🠧</button></a>
                        <div class="dropdown-content" id="contactDropdownContent-3">
                            <div class="dropdown-checkbox">
                                <input type="checkbox" id="childCheckbox" value="child">
                                <label for="childCheckbox">&nbsp; Child</label>
                            </div>
                            <div class="dropdown-checkbox">
                                <input type="checkbox" id="adultCheckbox" value="adult">
                                <label for="adultCheckbox">&nbsp; Adult</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-sort">
                    <div class="dropdown">
                        <a><button class="btn sort dropbtn" id="contactDropdown-4">Sort &nbsp;<i class="fa-solid fa-arrow-down-short-wide"></i></button></a>
                        <div class="dropdown-content" id="contactDropdownContent-4">
                            <div class="dropdown-checkbox">
                                <input type="radio" id="ageSortCheckbox" name="sortOption">
                                <label for="ageSortCheckbox">&nbsp; Age</label>
                            </div>
                            <div class="dropdown-checkbox">
                                <input type="radio" id="genderSortCheckbox" name="sortOption">"
                                <label for="genderSortCheckbox">&nbsp; Gender</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="container-card scrollable-container">
                <% cats.forEach(cat => { %>
                    <div class="kotak-card">
                        <img src="assets/<%= cat.image %>" alt="<%= cat.name %>">
                        <div class="konten-card">
                            <h2><%= cat.name %></h2>
                            <p>Age: <%= cat.age %></p>
                            <p>Gender: <%= cat.gender %></p>
                            <p>Color: <%= cat.color %></p>
                            <p>Intake date: <%= cat.intakeDate %></p>
                            <a href="/form?catName=<%= cat.name %>">
                                <button class="adoptbtn"'>Adopt</button>
                            </a>
                            <br>
                        </div>
                    </div>
                <% }); %>
                </div>
        </div>

        <!-- CONTENT END -->

        <!-- FOOTER START -->

        <%- include('layouts/adopt/adoptfooter') %>

        <!-- FOOTER END -->

    </div>
    <script src="js\main.js"></script>
    <script src="js\sorting.js"></script>
</body>

</html>