<!DOCTYPE html>
<html lang="en">

<%- include('layouts/head') %>

<body>
    <div class="container">
        
        <!-- NAVBAR START -->
        
        <%- include('layouts/navbar') %>

        <!-- NAVBAR END -->
        
        <!-- HOME START -->
        
        <%- include('layouts/home') %>
        
        <!-- HOME END -->
        
        <!-- BREEDS START -->
        
        <%- include('layouts/card') %>
        
        <!-- BREEDS END -->
        
        <!-- TREATMENT START -->
        
        <%- include('layouts/treatment') %>
        
        <!-- TREATMENT END -->

        <div class="container-content-2">
            <div class="judul-funfact">
                <h3>DID YOU KNOW?</h3>
            </div>
            <div class="funfact">
                <div class="funfact-left">
                    <h2>Only <b>20%</b> of Orange Cats Are Female</h2>
                    <h2>Cats Have <b>Fewer Taste</b> Buds Than Dogs or People</h2>
                    <h2>Cats That <b>Scratch Furniture </b>Are Often Marking Their Territory</h2>
                    <h2>Many Cats Get the <b>Zoomies </b>After Using the Litter Box</h2>
                </div>
                <div class="funfact-right">
                    <h2>Cat <b>Whiskers</b> Are as Sensitive as Human Fingertips</h2>
                    <h2>Cats are <b>Nearsighted</b>, but See Great in the Dark</h2>
                    <h2>Cats Have the Same Number of <b>Brain Cells </b>in Their Cerebral Cortex as Brown Bears</h2>
                    <h2>That <b>Adorable Paunch </b>on a Cat’s Belly Is Also Found in Lions and Tigers</h2>
                </div>
            </div>
            <div class="quote">
                <h3>"Your house will always be blessed with love, laughter, and friendship if you have a cat."</h3>
            </div>
        </div>

        <!-- FOOTER START -->

        <%- include('layouts/footer') %>

        <!-- FOOTER END -->


</body>
<script src="js/main.js"></script>

</html>