<!DOCTYPE html>
<html lang="en">

<%- include('layouts/head') %>

    <body>
        <div class="container">
            <!-- NAVBAR START -->

            <%- include('layouts/adopthead', { title: 'My Account' }) %>

                <!-- NAVBAR END -->

                <!-- CONTENT START -->

                <div class="account-container">
                    <div class="content-account">
                        <div class="account-data">

                            <div class="data-list">

                                <!-- USERNAME START -->

                                <li class="account-item">Username</li>
                                <div class="acc-isi-luar">
                                    <div class="acc-isi" id="username">
                                        <%= user.username %>
                                    </div>
                                </div>

                                <!-- USERNAME END -->

                                <!-- PHONE START-->

                                <li class="account-item">Phone Number</li>
                                <div class="acc-isi-luar">
                                    <div class="acc-isi" id="phone">
                                        0<%= user.phone %>
                                    </div>
                                    <div class="form-popup" id="phoneForm" onsubmit="return validatePhone();" style="display: none;">
                                        <form action="/change-phone" method="POST">
                                            <input type="number" id="phoneInput" placeholder="Enter new phone number" name="phone" class="acc-isi new" >
                                            <br>
                                            <div class="bottom">
                                                <button type="submit" class="change-button center border"
                                                id="btn-submit">Save Changes &nbsp;<i
                                                class="fa-solid fa-check icon"></i></button>
                                                <button type="button" class="change-button center border"
                                                id="btn-close" onclick="closePhoneForm()">Close &nbsp;<i
                                                class="fa-solid fa-times icon"></i></button>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="btn-change">
                                        <button class="change-button" id="btn-change-email" onclick="openPhoneForm()">
                                            <i class="fa-solid fa-pen"></i>
                                        </button>
                                    </div>
                                </div>

                                <!-- PHONE END -->

                                <!-- EMAIL START -->

                                <li class="account-item">Email</li>
                                <div class="acc-isi-luar">                
                                    <div class="acc-isi" id="email">
                                        <%= user.email %>
                                    </div>
                            </div>
                                <!-- EMAIL END -->

                                <!-- PASSWORD START -->

                                <li class="account-item">Password</li>
                                <div class="acc-isi-luar">
                                    <div class="acc-isi" id="password">********</div>
                                    <div class="form-popup none" id="passForm">
                                        <form action="/change-password" method="POST">
                                            <input type="password" placeholder="Enter new password" name="password" class="acc-isi new">
                                            <br>
                                            <input type="password" placeholder="Confirm new password"
                                                name="confirm_password" class="acc-isi new"><br>
                                            <div class="bottom">
                                                <button type="submit" class="change-button center border">Change
                                                    Password</button>
                                                <button type="button" class="change-button center border" id="btn-close"
                                                    onclick="closePassForm()">Close &nbsp;<i
                                                        class="fa-solid fa-times icon"></i></button>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="btn-change">
                                        <button class="change-button" id="btn-change-pass" onclick="openPassForm()">
                                            <i class="fa-solid fa-pen"></i>
                                        </button>
                                        <button class="change-button none" type="submit" id="submitPass" onclick=""><i
                                                class="fa-solid fa-check"></i></button>
                                    </div>
                                </div>

                                <!-- PASSWORD END -->

                                <!-- ADOPTED CATS START -->

                                <li class="account-item">Adopted Cats</li>
                                <div class="acc-isi-luar">
                                    <div class="cat-isi" id="adoptedCats">
                                        <% if (user.adoptedcats && user.adoptedcats.length > 0) { %>
                                            <% user.adoptedcats.forEach(function(cat) { %>
                                                <p><%= cat %></p>
                                            <% }); %>
                                        <% } else { %>
                                            <p>None</p>
                                        <% } %>
                                    </div>
                                </div>
                                
                                <!-- ADOPTED CATS END -->

                                <!-- DELETE BUTTON START -->

                                <div class="bottom m-top">
                                    <form action="/disableUser" method="POST" onsubmit="return confirmDelete();">
                                        <button type="submit" class="change-button center border-2" id="delete-button">Delete Account</button>
                                    </form>
                                </div>

                                <!-- DELETE BUTTON END -->

                            </div>
                        </div>
                    </div>
                </div>

                <!-- CONTENT END -->

        </div>

    </body>

    <script src="/public/js/change.js"></script>
    <script>
        function confirmDelete() {
        return confirm('Are you sure you want to delete your account? This action cannot be undone.');
    }
    
        function validatePhone() {
        var phoneInput = document.getElementById('phoneInput');
        var phone = phoneInput.value;
        var phoneLength = phone.toString().length;
        if (phoneLength < 10 || phoneLength > 13) {
            alert('Phone number must be 10 to 13 digits long');
            return false;
        }
        return true;
    }
    </script>

</html>